.custom-meta .ant-card-meta-title {
    color: rgb(218, 216, 216); 
    text-align: center;
    white-space: pre-wrap;
    height: 20px;
    overflow: hidden;
  }
  .container{
    padding: 0;
    h1{
        color: #ffffff;
        padding-top: 20px;
    }
    p{
      color: rgb(163, 163, 163);
      width: 50%;
      font-size: 14px;
    }
    .typeofmovies{
      margin: 40px 0;
    }
    
  }