.notfoundsugestion{
    text-align: center;
    margin-top: 50px;
    h1{
        color: rgb(234, 234, 234);
        font-size: 25px;
    }
    .notfoundpara{
        color: rgb(176, 176, 176);
        

    }
}