
.empty{
    color: rgb(202, 205, 207);
    text-align: center;
    font-size: 35px;
    padding: 20px;
}
.Wislistcontainer{
    padding:10px 0 ;
    width: 100%;
    overflow: hidden;
    .page-title{
        color:beige;
        text-align: center;
        margin-bottom: 20px;
    }

  }

.empty{
    color: rgb(202, 205, 207);
    text-align: center;
    font-size: 35px;
    padding: 20px;
}
